<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Registrar Turma</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <style>
    a.mudacor:hover {
      background-color: #F02929;
    }
  </style>
</head>

<body style="background-color: #E6E6E6">

  <!-- Aqui começa o Menu -->

  {% include "navbar.html" %}

  <br>

  <!-- Aqui começa a parte de baixo de dicas -->

  <div class="container px-0 " style="background-color: #F02929;border-radius: 25px">

    <h2 class="font-weight-bolder ml-5 pt-1 text-white"> Cadastros: Turmas </h2>

    <div class="container-fluid bg-white " style="border-radius: 25px">
      <div style="height: 30px"></div>
      <br>
      <!-- ************************ começar pagina aqui ************************************* -->

      <div class="text-center">
        <a href="{% url 'url_realizar_chamada' %}">
          <button type="button" class="btn text-white px-5 font-weight-bolder"
            style="background-color: #F02929;border-radius: 25px"> NOVO +</button>
        </a>
      </div>

      <div style="height: 30px"></div>

      <div class="container w-75 mx-auto">

        <form class="form-inline" method="GET">
          {% csrf_token %}
          <input type="text" class="form-control bg-light" placeholder="Digite aqui sua pesquisa e clique na LUPA (pesquise por data - dd/mm/aaaa - Exemplo: 01/01/2020)"
            name="pesquisa" style="width: 94%;border-radius: 25px">
          <button type="submit" class="btn"><i class="fas fa-search"></i></button>
        </form>

      </div>

      <div style="height: 30px"></div>

      <div class="w-75 mx-auto">
        <table class="table table-hover table-bordered">
          <thead style="background-color: #F02929; color: white">
            <tr>
              <th>Código</th>
              <th>Data</th>
              <th>Turma</th>
              <th>Abrir</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
            {% for chamada in chamadas %}
              <tr>
                <td>{{ chamada.cod_chamada }}</td>
                <td>{{ chamada.data_chamada }}</td>
                <td>{{ chamada.cod_turma }}</td>
                <th><a href="{% url 'url_chamada_update' chamada.cod_chamada %}">Abrir</th></a>
                <th><a href="{% url 'url_chamada_delete' chamada.cod_chamada %}">Excluir</th></a>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- ******************  final da pagina ************************* -->
      <br>

      <div style="height: 30px"></div>
    </div>

  </div>
</body>

</html>