<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body class="bg-dark">

  <div class="container-fluid" style="position: absolute; top: 20%;display: flex; justify-content: center">
    <div class="card" style="width:500px;border-radius: 25px">
      <div class="card-body">



        <p> Preencha as informações abaixo para entrar: </p>
        <form action="submit" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Usuário:</label>
            <input type="text" class="form-control" id="username" placeholder="Insira aqui o usuário" name="username">

          </div>
          <div class="form-group">
            <label for="pwd">Senha:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Insira aqui a senha" name="pswd">
          </div>
          <br>

          <div class="text-center">
            <button type="submit" class="btn text-white text-center"
              style="background-color: #F02929;border-radius: 25px">Clique aqui para entrar</button>
          </div>
        </form>
        <div>
          {% for message in messages %}
          <strong>Erro:
          </strong>
          {{ message }}
          {% endfor %}
        </div>

      </div>
    </div>
  </div>


</body>

</html>