<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Oficinas</title>
  {% include "partials/head.html" %}
</head>

<body style="background-color: #E6E6E6">

  <!-- Aqui começa o Menu -->

  {% include "partials/navbar.html" %}
  <br>

  <!-- Aqui começa a parte de baixo de dicas -->

  <div class="container px-0 " style="background-color: #F02929;border-radius: 25px">

    <h2 class="font-weight-bolder ml-5 pt-1 text-white"> Matrículas </h2>

    <div class="container-fluid bg-white " style="border-radius: 25px">
      <div style="height: 30px"></div>
      <br>
      <!-- ************************ começar pagina aqui ************************************* -->

      <div class="text-center">
        <a href="{% url 'url_matricular' %}">
          <button type="button" class="btn text-white px-5 font-weight-bolder"
            style="background-color: #F02929;border-radius: 25px"> NOVO +</button>
        </a>
      </div>

      <div style="height: 30px"></div>

      <div class="container w-75 mx-auto">
        
        <form class="form-inline" method="GET">
          {% csrf_token %}
          <input type="text" class="form-control bg-light" placeholder="Digite aqui sua pesquisa e clique na LUPA (pesquise pelo código da turma)"
            name="pesquisa" style="width: 94%;border-radius: 25px">
          <button type="submit" class="btn"><i class="fas fa-search"></i></button>
        </form>

      </div>

      <div style="height: 30px"></div>

      <div class="w-75 mx-auto">
        <table class="table table-hover table-bordered">
          <thead style="background-color: #F02929; color: white">
            <tr>
              <th>Turma</th>
              <th>Atendido</th>
              <th>Abrir</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
            {% for matricula in matriculas %}
              <tr>
                <td>{{ matricula.cod_turma }}</td>
                <td>{{ matricula.cod_atendido }}</td>
                <th><a href="{% url 'url_matricula_update' matricula.cod_turma_atendido %}">Abrir</th></a>
                <th><a href="{% url 'url_matricula_delete' matricula.cod_turma_atendido %}">Excluir</th></a>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- ******************  final da pagina ************************* -->
      <br>

      <div style="height: 30px"></div>
    </div>

  </div>
</body>

</html>