<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Registrar Atendido</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <style>
  a.mudacor:hover {
  background-color: #F02929;
}
</style>
</head>
<body style="background-color: #E6E6E6">

<!-- Aqui começa o Menu -->

{% include "navbar.html" %}

<br>

<!-- Aqui começa a parte de baixo de dicas -->

<div class="container px-0 " style="background-color: #F02929;border-radius: 25px">

 <h2 class="font-weight-bolder ml-5 pt-1 text-white">  Matricular Atendido </h2>

<div class="container-fluid bg-white " style="border-radius: 25px">
<div style="height: 30px"></div>
<br>
<!-- ************************ começar pagina aqui ************************************* -->



<div class="container w-75 mx-auto">

<form method="POST">
    {% csrf_token %}

<div class="text-center">

    <button type="submit" class="btn text-white px-5 mx-3 font-weight-bolder" style="background-color: #F02929;border-radius: 25px">SALVAR</button>

    <a href="{% url 'url_matriculados' %}">
        <button type="button" class="btn text-white px-5 mx-3 font-weight-bolder" style="background-color: #F02929;border-radius: 25px"> CANCELAR</button>
    </a>

</div>

<div style="height: 40px"></div>
{% load widget_tweaks %}
<!-- Nome completo -->
    <div class="form-group">
      <label for="nome">(*) Nome do atendido a ser matriculado:</label>
      {% render_field form.cod_atendido class+="form-control  bg-light" %}
      
    </div>
<!-- Data de Nascimento -->
    <div class="form-group">
      <label for="nascimento">(*) Matricular na turma:</label>
      {% render_field form.cod_turma class+="form-control  bg-light" type="date" %}
    </div>
  </form>

</div>


<!-- ******************  final da pagina ************************* -->
<br>

<div style="height: 30px"></div>
</div>

</div>
</body>
</html>