<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Menu</title>
  {% include "partials/head.html" %}
</head>
<body style="background-color: #E6E6E6">

<!-- Aqui começa o Menu -->

{% include "partials/navbar.html" %}
<br>

<!-- Aqui começa a parte de baixo de dicas -->

<div class="container px-0 " style="background-color: #F02929;border-radius: 25px">

 <h2 class="font-weight-bolder ml-5 pt-1 text-white">  Dicas </h2>

<div class="container-fluid bg-white " style="border-radius: 25px">
<div style="height: 30px"></div>
<br>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Dica #1 – Pesquisa Matrículas</h3>
        <p>Para verificar os atendidos de cada turma, vá em MATRÍCULA, 
        digite o CÓDIGO da Turma que deseja e clique na LUPA para filtrar.</p>
      </div>
      <div class="col-sm-4">
        <h3>Dica#2 – Nova Matrícula</h3>
        <p>Para realizar a MATRÍCULA de um atendido, vá em MATRÍCULA, clique em NOVO, 
        preencha o NOME do atendido, escolha a TURMA e clique no botão MATRICULAR.</p>
      </div>
      <div class="col-sm-4">
        <h3>Dica #3 – Pesquisar Chamada</h3>
        <p>Para pesquisar uma chamada específica, você pode ir em CHAMADA, 
        e digitar no campo a data desejada no formato dd/mm/aaaa.</p>
      </div>
    </div>
  </div>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Dica #4 - Chamada</h3>
      <p>Para adicionar uma nova chamada, vá em CHAMADA e clique em NOVO. 
      Um formulário vai aparecer e você só precisa preencher com a DATA, TURMA, ATENDIDO e clicar em SALVAR.</p>
    </div>
    <div class="col-sm-4">
      <h3>Dica #5 – Novo Cadastro</h3>
      <p>Para realizar um novo cadastro, vá em CADASTROS, escolha a opção de cadastro desejada, 
       clique em NOVO, preencha os campos do formulário e clique em SALVAR.</p>
    </div>
    <div class="col-sm-4">
      <h3>Dica #6 – Alterar Cadastro</h3>
      <p>Para alterar um cadastro já criado, vá em CADASTROS, escolha a opção de cadastro desejada, 
      clique em ABRIR na frente do cadastro que deseja alterar, modifique os campos que deseja e clique em SALVAR.</p>
    </div>
  </div>
</div>

<br>

<div style="height: 30px"></div>
</div>

</div>
</body>
</html>