<!DOCTYPE html>
<html lang="pt-br">
<head>
  {% include "partials/head.html" %}
</head>
<body style="background-color: #E6E6E6">

<!-- Aqui começa o Menu -->

{% include "partials/navbar.html" %}

<br>

<!-- Aqui começa a parte de baixo de dicas -->

<div class="container px-0 " style="background-color: #F02929;border-radius: 25px">

 <h2 class="font-weight-bolder ml-5 pt-1 text-white">  Registro: Atendido </h2>

<div class="container-fluid bg-white " style="border-radius: 25px">
<div style="height: 30px"></div>
<br>
<!-- ************************ começar pagina aqui ************************************* -->



<div class="container w-75 mx-auto">

<form method="POST">
    {% csrf_token %}

<div class="text-center">

    <button type="submit" class="btn text-white px-5 mx-3 font-weight-bolder" style="background-color: #F02929;border-radius: 25px">SALVAR</button>

    <a href="{% url 'url_atendido' %}">
        <button type="button" class="btn text-white px-5 mx-3 font-weight-bolder" style="background-color: #F02929;border-radius: 25px"> CANCELAR</button>
    </a>

</div>

<div style="height: 40px"></div>
{% load widget_tweaks %}
<!-- Nome completo -->
    <div class="form-group">
      <label for="nome">(*) Nome:</label>
      {% render_field form.nome_atendido class+="form-control  bg-light" placeholder="Digite aqui o Nome Completo (Obrigatório)" %}
      
    </div>
<!-- Data de Nascimento -->
    <div class="form-group">
      <label for="nascimento">(*) Data de Nascimento:</label>
      {% render_field form.nascimento_atendido class+="form-control  bg-light" placeholder="dd/mm/aaaa" %}
    </div>
<!-- Rg atendido -->
    <div class="form-group">
      <label for="ra">(*) RG (Somente os números):</label>
      {% render_field form.ra_atendido class+="form-control  bg-light" placeholder="Digite aqui o RA (Obrigatório)" %}
    </div>
<!-- nis atendido -->
    <div class="form-group">
      <label for="nis">(*) NIS (Somente os números):</label>
      {% render_field form.nis_atendido class+="form-control  bg-light" type="number" placeholder="Digite aqui os Números do NIS (Obrigatório)" %}
    </div>
<!-- RUa atendido -->
    <div class="form-group">
      <label for="rua">(*) Rua:</label>
      {% render_field form.rua_atendido class+="form-control  bg-light" placeholder="Digite aqui o nome da rua (Obrigatório)" %}
    </div>
<!-- numero atendido -->
    <div class="form-group">
      <label for="numero">(*) Número do Endereço:</label>
      {% render_field form.numero_atendido class+="form-control  bg-light" type="number" placeholder="Digite aqui o número do endereço (Obrigatório)" %}
    </div>
<!-- bairro atendido -->
    <div class="form-group">
      <label for="bairro">(*) Bairro:</label>
      {% render_field form.bairro_atendido class+="form-control  bg-light" placeholder="Digite aqui o bairro (Obrigatório)" %}
    </div>
    <!-- cidade atendido -->
    <div class="form-group">
      <label for="cidade">(*) cidade:</label>
      {% render_field form.cidade_atendido class+="form-control  bg-light" placeholder="Digite aqui o cidade (Obrigatório)" %}
    </div>
<!-- telefone atendido -->
    <div class="form-group">
      <label for="telefone">(*) Telefone:</label>
      {% render_field form.telefone_atendido class+="form-control  type="number" bg-light" placeholder="Digite aqui o telefone (apenas números)" %}
    </div>
<!-- email atendido -->
    <div class="form-group">
      <label for="email">Email:</label>
      {% render_field form.email_atendido class+="form-control  bg-light" type="email" placeholder="Digite aqui o e-mail" %}
    </div>
    <!-- responsavel -->
    <div class="form-group">
      <label for="responsavel">Responsável:</label>
      {% render_field form.cod_responsavel class+="form-control  bg-light" type="responsavel" %}
    </div>

  </form>

</div>


<!-- ******************  final da pagina ************************* -->
<br>

<div style="height: 30px"></div>
</div>

</div>
</body>
</html>